.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // media
    @include tablet{
        flex-direction: column;
    }

    background-color: var(--color-dark-primary);
    color: var(--color-white);

    &__header{
        display: flex;
        flex-direction: column;

        max-width: 760px;
        width: 100%;
        height: auto;

        padding: 60px 98px 60px 60px;

        a {
            margin-bottom: 196px;
        }

        @include desktop{
            padding: 30px 30px 30px 30px;
        }
    }

    &__title{
        margin-bottom: 41px;
        max-width: 513px;
        width: 100%;
    }

    &__description{
        max-width: 602px;
        width: 100%;
    }

    &__img{
       min-height: 668px;
        
    // media
    @include tablet{
        // надо поменять порядок элементов
    }
    }
}