:root{
    // цвета
    --color-dark-primary: #2A254B;
    --color-primary: #4E4D93;
    --color-dark-primary-alt: #4A4566;
    --color-anotha-xyi-znaet-kakoi-primary-light: #494465;
    --color-light-primary: #726E8D;
    --color-light-dark-primary: #505977;
    --color-light-gray: #F9F9F9;
    --color-border-gray: #EBE8F4;
    --color-border-dark: #CAC6DA;
    --color-white: #ffffff;

    // рамка
    --border: 1px solid var(--color-border-gray);
    --border-primary: 1px solid var(--color-primary);

    // шрифты
    --font-main: 'Satoshi', sans-serif;
    --font-accent: 'Clash Display', sans-serif;

    // ширина контентного контейнера
    --container-width: 1280px;

    // горизонтальные отступы контейнера
    --container-padding-x: 80px;

    // отступы внутри кнопок
    --btn-padding-x-y: 16px 32px;

    // высоты элементов
    --input-and-btn-medium--height: 56px;
    --btn-small-height: 48px; 
    // #ЯЕБАЛЭТИВАШИ ;;;;;;;;;;;

    // длительность анимции
    --transition-duration: .3s;
}