@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Clash Display";
  src: url("./assets/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark-primary: #2A254B;
  --color-primary: #4E4D93;
  --color-dark-primary-alt: #4A4566;
  --color-anotha-xyi-znaet-kakoi-primary-light: #494465;
  --color-light-primary: #726E8D;
  --color-light-dark-primary: #505977;
  --color-light-gray: #F9F9F9;
  --color-border-gray: #EBE8F4;
  --color-border-dark: #CAC6DA;
  --color-white: #ffffff;
  --border: 1px solid var(--color-border-gray);
  --border-primary: 1px solid var(--color-primary);
  --font-main: "Satoshi", sans-serif;
  --font-accent: "Clash Display", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 80px;
  --btn-padding-x-y: 16px 32px;
  --input-and-btn-medium--height: 56px;
  --btn-small-height: 48px;
  --transition-duration: .3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-visible {
    display: none !important;
  }
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 21px;
  color: var(--color-dark-primary);
  background-color: var(--color-white);
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-light-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-accent);
}

h1, .h1 {
  font-size: clamp(32px, 2.5vw, 36px);
  line-height: 50.4px;
}

h2, .h2 {
  font-size: clamp(32px, 2.2222222222vw, 32px);
  line-height: 44.8px;
}

h3, .h3 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  line-height: 33.6px;
}

h4, .h4 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  line-height: 28px;
}

p {
  line-height: 27px;
}

.btn {
  height: var(--input-and-btn-medium--height);
  padding: var(--btn-padding-x-y);
}
.btn--primary--alt {
  background-color: var(--color-anotha-xyi-znaet-kakoi-primary-light);
  max-width: 170px;
  width: 100%;
  color: var(--color-white);
}
@media (hover: hover) {
  .btn--primary--alt:hover {
    background-color: var(--color-white);
    color: var(--color-dark-primary);
  }
}
@media (hover: none) {
  .btn--primary--alt:active {
    background-color: var(--color-white);
    color: var(--color-dark-primary);
  }
}

.burger__btn {
  width: 32px;
  aspect-ratio: 1;
  position: relative;
}
.burger__btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 1px;
  background-color: var(--color-dark-primary);
  border-radius: 2px;
  box-shadow: 0 -8px, 0 8px;
}

.header {
  padding-top: 21px;
  padding-bottom: 22px;
}
.header__top {
  padding-left: 28px;
  padding-right: 51px;
  padding-bottom: 19px;
}
@media (max-width: 767px) {
  .header__top {
    padding-left: 24px;
    padding-right: 27px;
  }
}
.header__top__container, .header__top__details, .header__top__list, .header__top__actions, .header__top__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__details {
  -moz-column-gap: 47px;
       column-gap: 47px;
}
@media (max-width: 767px) {
  .header__top__details {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__top__list {
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__top__actions {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 767px) {
  .header__top__actions {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__top__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--color-dark-primary);
}
@media (hover: hover) {
  .header__top__btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__top__btn:active {
    cursor: pointer;
    opacity: 0.7;
  }
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-dark-primary);
  }
}
@media (hover: none) {
  .header__link:active {
    color: var(--color-dark-primary);
  }
}
.header__bottom {
  padding: 22px 318px;
  background-color: var(--color-light-gray);
}
.header__bottom__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-btn-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.cross-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 32px;
  aspect-ratio: 1;
  position: relative;
}
.cross-btn::before, .cross-btn::after {
  content: "";
  position: absolute;
  top: 50;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark-primary);
  border-radius: 2px;
}
.cross-btn::before {
  rotate: 45deg;
}
.cross-btn::after {
  rotate: -45deg;
}

.hero {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-dark-primary);
  color: var(--color-white);
}
.hero__header {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  width: 100%;
  padding: 60px 98px 60px 60px;
  min-height: 584px;
}
.hero__header a {
  margin-bottom: 196px;
}
@media (max-width: 1280px) {
  .hero__header {
    padding: 30px 30px 30px 30px;
  }
}
.hero__title {
  margin-bottom: 41px;
  max-width: 513px;
  width: 100%;
}
@media (max-width: 1280px) {
  .hero__title {
    max-width: 260px;
  }
}
.hero__description {
  max-width: 602px;
  width: 100%;
}
@media (max-width: 1280px) {
  .hero__description {
    max-width: 260px;
  }
}
.hero__img {
  max-width: 520px;
  width: 100%;
  height: auto;
}
@media (max-width: 1280px) {
  .hero__img {
    width: 80%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=styles.css.map */